.movie-card-container {
  width: 150px;
  margin: 22px 16px;
  overflow: hidden;
}

.movie-card-img-container {
  position: relative;
  width: 100%;
}

.movie-card-img {
  width: 100%;
}

.movie-card-img-container,
.movie-card-img {
  border-radius: 14px;
}

.movie-card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #01b4e4;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: -20px;
  left: 10px;
}

.movie-card-title {
  width: max-content;
  margin-top: 24px;
  padding: 0 8px;
  color: #000;
  font-weight: bold;
}

.movie-card-title:hover {
  color: #01b4e4;
}

.movie-card-date {
  padding: 0 8px;
  color: #000000e6;
}
