.header-container {
  display: flex;
  align-items: center;
  box-shadow: 0 0 8px #0000004d;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
  padding: 0 16px;
  justify-content: space-between;
}

.menu-trigger {
  font-size: 32px;
  border: 0;
  background-color: transparent;
}

.header-menu {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 8px #0000004d;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 400px;
  z-index: 5;
  left: -100%;
  transition: left 0.3s;
  overflow: auto;
  padding: 8px 20px;
}

.header-menu--active {
  left: 0;
}

.header-menu-close {
  position: absolute;
  right: 0;
  padding: 5px 20px;
  font-size: 32px;
  border: 0;
  background-color: transparent;
}

.header-menu-item {
  padding: 16px 0;
  color: #000;
  border-bottom: 1px solid #d8d8d8;
}

.header-logo {
  height: 80px;
  width: auto;
}
